:root {
  --tomato: #ff6257;
  --dark-grey: #242742;
  --mediun-grey: #36384e;
  --grey: #9294a0;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  max-width: 1044vw;
  background-color: var(--dark-grey);
}

@media (max-width: 560px) {
  body {
    background-color: var(--white);
  }
}
